@font-face {
    font-family: Beaufort;
    src: url(/fonts/beaufort/BeaufortforLOL-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Spiegel;
    src: url(/fonts/spiegel/spiegel.ttf);
}

body{
    margin: 0;
    padding: 0;
}

*{
    font-family: Spiegel;
}

.title{
    font-family: Beaufort;
}
/* 
########################################
Début du style de la barre de navigation 
########################################
*/
.navbar {
    background-color: #444444;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px;
}

/* Liens dans la barre de navigation */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Lien de la page actuelle */
.navbar a.active {
    background-color: #333333;
    color: white;
}

/* Quand un lien est survolé */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media (max-width: 480px) {
    .navbar {
        justify-content: center;
    }

    .navbar-phone-screen {
        display: flex;
        width: 25%;
    }

    .navbar-full-screen {
        display: none;
    }
}

@media (min-width: 480px) {
    .navbar-phone-screen {
        display: none;
    }

    .navbar-full-screen {
        display: flex;
    }
}

.nav-burger {
    display: none;
    flex-direction: column;
}

.navbar-phone-screen {
    flex-direction: column;
}

/* Burger icon */

.burger-icon span {
    display: flex;
    width: 50%;
    height: 5px;
    background-color: black;
    margin: 6px 25%;
}

/* 
######################################
Fin du style de la barre de navigation 
######################################
*/

/* 
########################
Début du style du footer 
########################
*/
.footer {
    background-color: #333;
    padding: 2%;
    clear: both;
    margin-top: 10%;
}

/* Style du premier conteneur du footer, contient tout les elements sauf le c Boris Shop */
.footer-devider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Flex box qui contiennent respectivment la newsletter et les liens utiles
Changent de ligne à colone pour le responsive */
.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45%;
    padding: 2%;
}

/* Flex box contenant chacune une colone de lien utile */
.footer-col {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

/* Style du titre de la newsletter */
.footer-newsletter {
    font-size: 24px;
    color: #FFFFFF;
}

/* Style du texte de la newsletter */
.footer-text {
    color: #AAAAAA;
    font-size: 14px;
}

/* Style des liens dans les liens utile */
.footer-element {
    color: #AAAAAA;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: none;
}

/* Flex box contenant l'email pour la newsletter */
.footer-col fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    padding: 3%;
}

/* Style de l'input text de la newsletter */
.footer-col input[type=text] {
    background-color: #444444;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    transition: all linear 0.1s;
}

/* Style du "bouton" S'inscrire */
.footer-col .footer-email-submit {
    background-color: #333333;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    outline: none;
    text-decoration: none;
}

.footer-col .footer-email-submit:hover {
    text-decoration: underline;
}

/* Style des liens utiles */
.footer-element:hover {
    color: #EEEEEE;
    transition: all linear 0.2s;
}

/* Style des titres des colones de liens utiles */
.footer-title {
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10%;
}

/* Style du c Boris Shop */
.footer-c {
    text-align: center;
    color: #FFFFFF;
}

/* Partie responsive du footer */
@media (max-width: 480px) {
    .footer-devider {
        flex-direction: column;
    }

    .footer-row {
        width: 95%;
    }
}

/*
###################### 
Fin du style du footer
###################### 
*/