/* Partie Panier */

body {
    font-family: Spiegel;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Beaufort, Arial, Helvetica, sans-serif;
}

img {
    margin-left: 10%;
    width: 80%;
}

.cartpagetitle {
    text-align: center;
    font-size: 200%;
    letter-spacing: 1.5vw;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.orderinfo {
    padding-top: 5%;
    max-width: 50%;
    font-size: 14px;
}

.panier {
    margin: 5%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    max-width: 100%;
}

.souspanier {
    display: flex;
    flex-direction: row;
    gap: 10%;
    max-width: 100%;
}

.articlepanier {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5%;
}

.article {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.article2 {
    width: 25%;
}

.articleimg {
    width: 25%;
    height: fit-content;
}

.articleimg:hover {
    height: fit-content;
}

.checkoutpart {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.checkoutpart input {
    width: 100%;
    text-align: center;
    flex-grow: 2;
    border: none;

}

.checkoutpart input:focus {
    outline: none;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
    border-radius: 7.5px;
}

form:focus-within {
    outline: 1px solid gray;
}

/* .validercoupon {
    text-align: center;
    background-color: lightgray;
    color: black;
    height: 2vh;
    width: 101%;
}

.validercoupon:hover {
    background-color: gray;
    color: white;
    transition: 0.1s;
} */

.checkouttext {
    display: flex;
    flex-direction: row;
}

.checkouttext1 {
    text-align: left;
    width: 40%;
}

.checkouttext2 {
    text-align: right;
    width: 75%;
}

.checkoutbutton {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    padding-top: 3%;
    padding-bottom: 3%;
}

.checkoutbutton:hover {
    background-color: gray;
    color: white;
    transition: 0.2s;
}

.deletebutton {
    color: white;
    background-color: red;
    text-align: center;
    padding: 8%;

}

.deletebutton:hover {
    background-color: rgb(255, 122, 122);
    color: rgb(255, 255, 255);
    transition: 0.1s;
}

.accordeon {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 1%;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    font-size: 15px;
}

.actif:hover {
    background-color: #eeeeee;
}

.accordeon:hover {
    background-color: #eeeeee;
}

.accordeon:after {
    content: '\02795';
    font-size: 15px;
    color: black;
    float: right;
    margin-left: 5px;
}

.actif:after {
    content: "\2796";
}

.panel {
    padding: 0.2%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.validercoupon {
    border: 1px solid gray;
    background: black;
    color: white;
    border-radius: 0 7.5px 7.5px 0;
}

@media (max-width: 1240px) {
    .articleimg {
        width: 50%;
    }
}

@media (max-width: 1025px) {
    .cartpagetitle {
        letter-spacing: 1.5vw;
    }

    .souspanier {
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    .articlepanier {
        width: 100%;
    }

    .orderinfo {
        max-width: 100%;
    }

    .articleimg {
        width: 25%;
    }

    .checkoutpart {
        width: 100%;
    }

    .article2 {
        width: 50%;
    }
}

@media (max-width: 801px) {
    .articleimg {
        width: 25%;
    }
}

@media (max-width: 620px) {
    .articleimg {
        width: 40%;
    }
}

/* Fin Partie Panier */
