body {
    margin: 0;
    padding: 0;
}

img {
    margin-left: 10%;
    width: 80%;
}

.container {
    display: flex;
}

.container-col {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-border {
    border-color: #333333;
    border-style: solid;
    border-width: 4px;
}

/* Début style de la barre de navigation */
.navbar {
    background-color: #444444;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px;
}

/* Liens dans la barre de navigation */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Lien de la page actuelle */
.navbar a.active {
    background-color: #333333;
    color: white;
}

/* Quand un lien est survolé */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media (max-width: 480px) {
    .navbar{
        justify-content: center;
    }
    .navbar-phone-screen {
        display: flex;
        width: 25%;
    }

    .navbar-full-screen {
        display: none;
    }
}

@media (min-width: 480px) {
    .navbar-phone-screen {
        display: none;
    }

    .navbar-full-screen {
        display: flex;
    }
}

.nav-burger {
    display: none;
    flex-direction: column;
}

.navbar-phone-screen {
   flex-direction: column;
}

/* Burger icon */

.burger-icon span {
    display: flex;
    width: 50%;
    height: 5px;
    background-color: black;
    margin: 6px 25%;
}

/* Fin du style de la barre de navigation */

.title {
    font-size: 32px;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 3px;
}

.subtitle {
    color: #AAAAAA;
    font-size: 14px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* Partie Panier */

.cartpagetitle{
    text-align: center;
    font-size: 4vh;
    letter-spacing: 1vh;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

a:hover{
    font-size: 16.15px;
    color: rgb(130, 156, 156);
}

.panier {
    margin: 5%;
    display: flex;
    gap: 5%;
    flex-direction: column;
    max-width: 100%;
}

.souspanier{
    display: flex;
    flex-direction: row;
    gap: 10%;
    max-width: 100%;
}

.articlepanier{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5%;
}

.article{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.articleimg{
    width: 25%;
    height: fit-content;
}

.articleimg:hover{
    width: 25.1%;
    height: fit-content;
}

.checkoutpart{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.checkoutpart input{
    width: 100%;
    height: 40px;
    text-align: center;
}

.checkouttext{
    display: flex;
    flex-direction: row;
}

.checkouttext1{
    text-align: left;
    width: 40%;
}

.checkouttext2{
    text-align: right;
    width: 75%;
}

.checkoutbutton{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.checkoutbutton:hover{
    background-color: rgb(130, 156, 156);
    color: black;
    font-size: 16.2px;
    padding-top: 3.05%;
    padding-bottom: 3.05%;
}

.deletebutton{
    color: white;
    background-color: red;
    text-align: center;
    padding: 8%;

}

.deletebutton:hover{
    background-color: rgb(255, 37, 37);
    color: white;
}



/* Fin Partie Panier */

/* Style du footer */
.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    clear: both;
    margin-top: 10%;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-element {
    color:#AAAAAA;
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 10%;
}