img {
    margin-left: 10%;
    width: 80%;
}

.container {
    display: flex;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-border {
    border-color: #333333;
    border-style: solid;
    border-width: 4px;
}

.title {
    font-size: 48px;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 3px;
    text-align: center;
}

.subtitle {
    color: #AAAAAA;
    font-size: 14px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* Style des produits a l'affiche */

.display-product {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: calc(33.33% - 20px);
    text-align: center;
    position: relative;
}

.display-product img {
    max-width: 100%;
    transition: all 0.2s ease-in-out;
}

.display-product img:hover {
    transform: scale(1.025);
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    img {
        margin-left: 0%;
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .display-product {
        width: 60%;
    }

    .display-product img {
        max-width: 80%;
        margin: 0 auto;
    }

    .display-product h2 {
        font-size: 1.5rem;
    }
}