body {
    margin: 0;
    padding: 0;
}

/* Début style de la barre de navigation */
.navbar {
    background-color: #444444;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 2px 5px 1px;
}

/* Liens dans la barre de navigation */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Lien de la page actuelle */
.navbar a.active {
    background-color: #333333;
    color: white;
}

/* Quand un lien est survolé */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

@media (max-width: 480px) {
    .navbar {
        justify-content: center;
    }

    .navbar-phone-screen {
        display: flex;
        width: 25%;
    }

    .navbar-full-screen {
        display: none;
    }
}

@media (min-width: 480px) {
    .navbar-phone-screen {
        display: none;
    }

    .navbar-full-screen {
        display: flex;
    }
}

.nav-burger {
    display: none;
    flex-direction: column;
}

.navbar-phone-screen {
    flex-direction: column;
}

/* Burger icon */

.burger-icon span {
    display: flex;
    width: 50%;
    height: 5px;
    background-color: black;
    margin: 6px 25%;
}

/* Fin du style de la barre de navigation */

/* Style du footer */
.footer {
    background-color: #333;
    padding: 2%;
    clear: both;
    margin-top: 10%;
}

.footer-devider {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45%;
    padding: 2%;
}

.footer-col {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.footer-col-newsletter{
    justify-content: center;
    text-align: left;
}

.footer-newsletter {
    font-size: 24px;
    color: #FFFFFF;
}

.footer-text {
    color: #AAAAAA;
    font-size: 14px;
}

.footer-col a {
    text-decoration: none;
}

.footer-element {
    color: #AAAAAA;
    margin-top: 3%;
    margin-bottom: 3%;
}

.footer-col fieldset {
    padding: 3%;
    border: none;
    display: flex;
    flex-direction: row;
}

.footer-col input[type=text] {
    background-color: #333333;
    border: none;
    color:#FFFFFF;
    outline: none;
}

.footer-col input[type=submit] {
    background-color: #333333;
    border: none;
    color:#FFFFFF;
    outline: none;
}

.footer-col input[type=submit]:hover {
    text-decoration: underline;
}

.footer-element:hover {
    color: #EEEEEE;
    transition: all linear 0.2s;
}

.footer-title {
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10%;
}

.footer-c {
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .footer-devider{
        flex-direction: column;
    }
    .footer-row {
        width: 95%;
    }
}