label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

.machin {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 100%;
  margin-top: 5%;
}

.conteneur-image {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: end;
  margin-left: 5%;
  width: 30%;
}

.conteneur-image img {
  box-shadow: inset;
  width: 100%
}

.bouton button {
  background-color: orangered;
  border: solid black 2px;
  color: white;
  margin-top: 5%;
}

.texte {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.informations {
  display: flex;
  flex-direction: column;
}

h2 {
  width: 100%;
  border: solid rgb(0, 0, 0) 0px;
}

p {
  width: 100%;
  border: solid rgb(0, 0, 0) 0px;
}

.options{
  display: flex;
  flex-direction: column;
}

.quantite {
  width: 100px;
  height: 50%;
  text-align: center;
  border: solid gray 2px;
}

.livraison {
  border: solid gray 1px;
  width: 20%;
}

.livraison p {
  margin-left: 5%;
}

@media (max-width: 480px) {
  .machin {
    flex-direction: column;
  } 

  .conteneur-image {
    width: 90%;
    flex-direction: row;
    align-items: center;
  }

  .texte {
    margin-left: 5%;
    width: 90%;
  }

  .informations {
    flex-direction: row;
  }

  .options{
    
    flex-direction: row;
    gap:10%;
  }
}
  .livraison {
    margin-left: 2%;
    width:21%;
    font-size: 250%;
    border: solid black;
  }
    
  
  .aVoirAussi{
    text-align: center;
    font-size:  150%;
    margin-top: 5%;
  }

  .image1{
    margin-top: 3%;
    margin-left: 15%;
    width: 15%;
    height: 15%;
  }

.nom{
  margin-left: 5%;
}